@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="CadastrarCliente" method="post">
    <button type="submit" class="btn btn-primary">Cadastrar Cliente</button>
</form>
